<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FlightDelay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('Index') }}">Home
          </a>
        </div>
      </div>
      <ul>
        <li>
          <a href = "{{ url_for('Model') }}">Model</a>
        </li>
      </ul>
    </nav>
    <div class=" text-center">
      <h1>Flight Prediction</h1>
      <p>Flight Delay</p>
    </div>
    <div class="container">
      <div class="row">
      <div class="col-md-6   ">
        
        <p>The data visualized in this dashboard originally came from the Kaggle website which had a concatenated and cleaned-up 
          version of the New York City Department of Finance’s Rolling Real Estate Sales dataset. It contained real estate 
          sales data for September 2016 through August 2017. The data had over 80 thousand rows. We limited our 
          analysis to only the  real estate sale price range of $500,000-$800,000. The resulting data in 
          that price range had several rows where the square feet listed was 0 or not provided. 
          We excluded such rows when looking at the price per square feet analysis.</p>
      </div>

      <div class="col-md-6 ">
        <a ><img  alt="Bar Graph" src="../static/images/bargraph.png"" width="600" height="350" ></a>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        
        <a ><img  alt="Line Chart" src="../static/images/linechart.png" "" width="600" height="350" ></a>
      </div>
  

      <div class="col-md-6">
        <a ><img alt="Bubble Chart" src="../static/images/bubblechart.png"" width="600" height="350" ></a>
      </div>
    </div>
  </div>
 

      <!-- <div class="col-md-6 d-none d-md-block">
        <a href="Resources/Windspeed.html"><img  alt="vs WindSpeed" src="Resources/assets/images/Fig4.png"" width="200" width="150"></a>
      </div>
      <div class="col-3 col-sm-3 d-block d-sm-block d-md-none">
        <a href="Resources/Windspeed.html"><img  alt="vs WindSpeed" src="Resources/assets/images/Fig4.png"" width="100" width="50"></a>
      </div>    -->
      
<!-- 
    <div class="row">
      <div class="column">
        <img title='Vis1' src="../static/images/linechart.png" alt="Line Chart" style="width:100%">
        <figcaption style="text-align:center"> Visual 1 - Sales by Month</figcaption>
      </div>
      <div class="column">
        <img title='Vis2' src="../static/images/bargraph.png" alt="Bar Graph" style="width:100%">
        <figcaption style="text-align:center"> Visual 2 - Sales by Borough</figcaption>
      </div>
    </div>

    <div class="row">
      <div class="column2">
        <img title='Vis3' src="../static/images/bubblechart.png" alt="Bubble Chart" style="width:50%" class="center3">
        <figcaption style="text-align:center"> Visual 3 - Average Price per Square Foot</figcaption>

      </div>
    </div> -->


  <!-- </div> -->

    <!-- <div>
      <h1 style="text-align:center">The data originally came from the Kaggle website which has a concatenated and cleaned-up 
        version of the New York City Department of Finance’s Rolling Sales dataset. It contains real estate 
        sales data for September 2016 through August 2017. The data has over 80 thousand rows. We limited our 
        analysis to only the average real estate sale price range of $500,000-$800,000. The resulting data in 
        that price range had several rows where the square feet listed was 0 or not provided. 
        We excluded such rows when looking at the price per square feet analysis.</h1>
    </div> -->


    <footer class="footer">
      <span class="bottom">Magnificent 3</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!-- <script src="../static/js/data.js"></script> -->
  <!-- <script src="../static/js/app.js"></script> -->

</body>

</html>
