<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FlightDelays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href = "{{ url_for('Index') }}"> Home</a>
        </div>
      </div>
      <ul>
        <li>
          <a href = "{{ url_for('Model') }}"> Machine Learning</a>
        </li>
        <li>
          <a href = "{{ url_for('Tableau') }}"> Tableau Visuals</a>
        </li>
        <li>
          <a href = "{{ url_for('Map') }}"> Airport Map</a>
        </li>
        <li>
          <a href = "{{ url_for('DataPage') }}"> Data Source</a>
        </li>
      </ul>
    </nav>
    <div class="hero text-center">
      <h1>US Delayed Flights</h1>
      <p>Predict if your flight will be delayed</p>
    </div>

    <!-- <div class="row">
      <div class="column">
        <img title='Vis1' src="linechart.png" alt="Line Chart" style="width:100%">
        <figcaption style="text-align:center"> Visual 1 - Sales by Month</figcaption>
      </div>
      <div class="column">
        <img title='Vis2' src="bargraph.png" alt="Bar Graph" style="width:100%">
        <figcaption style="text-align:center"> Visual 2 - Sales by Borough</figcaption>
      </div>
    </div>

    <div class="row">
      <div class="column2">
        <img title='Vis3' src="bubblechart.png" alt="Bubble Chart" style="width:50%" class="center3">
        <figcaption style="text-align:center"> Visual 3 - Average Price per Square Foot</figcaption>

      </div>
    </div> -->


        <div>
          <h1 style="text-align:center">The data visualized in this site originally came from the Kaggle website originally sourced from the Bureau of Transportation Statistics, Govt. of the USA.
            This data has over 500k flights in January 2019 and over 600k flights in January 2020. The data has a delay indicator for arrival and departure.  
            The departure indicator tells you if the flight departed late by 15 minutes or more.  The arrival indicator tells you if the flight arrived late by 15 minutes or more.
            There are also indicators for Cancelled and Diverted flights.  Cancelled/Diverted flights do not have an arrival delay indicator and were excluded from charts showing arrival delay details.
          </h1>
        </div>


    <footer class="footer">
      <span class="bottom">Magnificent 3</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

</body>

</html>
