<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MachineLearning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href = "{{ url_for('Index') }}"> Home</a>
        </div>
      </div>
      <ul>
        <li>
          <a href = "{{ url_for('Tableau') }}"> Tableau Visuals</a>
        </li>
        <li>
          <a href = "{{ url_for('Model') }}"> Machine Learning</a>
        </li>
        <li>
          <a href = "{{ url_for('DataPage') }}"> Data Source</a>
        </li>
        <li>
          <a href = "{{ url_for('ContactUs') }}"> Contact Us</a>
        </li>


      </ul>
    </nav>
    <div class=" text-Left">
      <h1>Flight Delay Predictor</h1>
      <p>Enter the inputs to see if you're likely to be delayed</p>
    </div>
    
 
      <div class="container">
      <div class="row"> 
        <div class="col-md-10">
                  <!-- <aside class="filters"> -->
                    <div class="panel panel-default">
                      <div class="panel-heading">Enter Model inputs</div>
                      <div class="panel-body">
            <form class="form-horizontal" action="/Results" method="POST" >
              <div class="form-group">
                <ul class="list-group" id="filters">

                  <li class="filter list-group-item">
                    <label for="Airline">Enter an Airline</label>
                    <select class="form-control" id="selDataset" onchange="optionChanged(this.value)" type="text">
                    </select>
                  </li>

                  <li class="filter list-group-item">
                    <label for="Origin Airport">Enter the 3 character Departure Airport Code</label>
                    <input class="form-control" id="OriginAirport" type="text" placeholder="ATL">
                  </li>     
                  
                  <li class="filter list-group-item">
                    <label for="Destination Airport">Enter the 3 character Destination Airport Code</label>
                    <input class="form-control" id="DestinationAirport" type="text" placeholder="SFO">
                  </li> 

                </ul>
              </div>
              <button  id="filter-btn" type="button" class="btn  btn-success">Submit</button>
            </form>

            <div class="col-md-8">
              <h2 class="text-left ">Prediction Results:</h2>
              <div id="table-area" class="">
                <table id="PredictionResultsTable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="table-head  text-left">Airline</th>
                      <th class="table-head  text-left">Departure Airport</th>
                      <th class="table-head  text-left">Destination Airport</th>
                      <th class="table-head  text-left">Delay Prediction</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>



  </div>
    
 
</body>


  


    <footer class="footer">
      <span class="bottom">Magnificent 3</span>
    </footer>
  </div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="../static/js/Model3.js"></script>



</html>