<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FlightDelay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href = "{{ url_for('Index') }}"> Home</a>
        </div>
      </div>
      <ul>
        <li>
          <a href = "{{ url_for('Model') }}"> Machine Learning</a>
        </li>
        <li>
          <a href = "{{ url_for('Tableau') }}"> Tableau Visuals</a>
        </li>
        <li>
          <a href = "{{ url_for('Map') }}"> Airport Map</a>
        </li>
        <li>
          <a href = "{{ url_for('DataPage') }}"> Data Source</a>
        </li>
      </ul>
    </nav>
    <div class=" text-center">
      <h1>Flight Prediction</h1>
      <p>Flight Delay</p>
    </div>
    
    <!-- <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Airline <br /> (Choose one):</h2>
          <select id="selDataset" onchange="optionChanged(this.value)">

          
          </select>
          <h5>Departure Time <br /> (Use military time like 1900):</h2>
          <select id="selDataset2" onchange="optionChanged(this.value)">

            
            </select>

          </div>
        </div>
      </div> -->
 
      <form class="form-horizontal" action="/Results" method="POST">
        <div class="form-group">
            <label class="control-label col-md-2" for="Airline" >Airline:</label>
            <div class="col-md-5">
              <input class="form-control" id="selDataset" onchange="optionChanged(this.value)" step="1" id="pregnancies" name="pregnancies"  type="number" required min="0" max="20" data-trigger="hover focus"   data-toggle="popover" data-placement="right" data-content="Max of 20">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="glucose" style="color: whitesmoke">Glucose (mg/dL):</label>
            <div class="col-md-5">
                <input class="form-control"  id="glucose" name="glucose" required type="number" step="0.01" data-trigger="hover focus"   data-toggle="popover" data-placement="right" data-content="Normal Below 140">
            </div>
        </div>
    
    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    
 
  <div class="row">
    <div class="col-md-12">
      <div id="plot"></div>
    </div>
  </div>


</body>


  


    <footer class="footer">
      <span class="bottom">Magnificent 3</span>
    </footer>
  </div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="../static/js/Model.js"></script>



</html>